.dashboard-wrapper {
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  color: #090934;
  @media (min-width: 768px) {
  }
}
.dashboard-navbar-wrapper {
  display: flex;
  width: 180px;
  background-color: rgb(13 67 115);
  height: 100vh;
}
.dashboard-content-wrapper {
  display: flex;
  width: 100%;
}
