.projects-container {
  display: flex;
  align-items: center;
  padding: 15px 0px 0px 40px;
  flex-direction: column;
  border-style: solid;
  border-width: 4px;
  border-image: conic-gradient(
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #e9967a
    )
    1;
}
.projects-wrapper {
}

.projects-title {
  font-size: 40px;
  margin-bottom: 30px;
}
.projects {
  font-size: 20px;
  color: #090934;
  margin: 20px 0px;
  padding-bottom: 1px;
  background: linear-gradient(
      to right,
      #f3f7d4 0%,
      #f5d0c3 12%,
      #eeae99 47%,
      #e9967a 100%
    )
    left bottom #f3f7d4 no-repeat;
  background-size: 100% 2px;
  background: linear-gradient();
}
@media screen and (max-width: 1000px) {
  .projects-title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  .projects {
    margin: 20px 0 0 10px;
  }
  .projects-container {
    font-size: 15px;
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 1300px) {
  .projects-wrapper {
    padding-right: 15px;
  }
  .projects-container {
    padding-left: 15px;
  }
} ;
