.projects-container {
  display: flex;
  align-items: center;
  padding: 15px 0px 0px 40px;
  flex-direction: column;
  border-style: solid;
  border-width: 4px;
  border-image: conic-gradient(
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #f3f7d4,
      #fd4d0c
    )
    1;
}

.projects-title {
  font-size: 40px;
  margin-bottom: 30px;
}
.projects {
  font-size: 20px;
  color: #090934;
  margin: 20px 0px;
  padding-bottom: 1px;
  background: linear-gradient(
      to right,
      #f3f7d4 0%,
      #fd4d0c 12%,
      #fd4d0c 47%,
      #fd4d0c 100%
    )
    left bottom #f3f7d4 no-repeat;
  background-size: 100% 2px;
  background: linear-gradient();
}
