.calculator-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
}
.calculator-back-button {
  position: absolute;
  left: 1px;
  bottom: 600px;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

.calculator-boundary {
  max-width: 400px;
  position: relative;
}
.calculator-display {
  font-size: 40px;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  border: solid 2px black;
  align-items: center;
}
.calculator-buttons-wrapper {
  max-width: 400px;
  height: 400px;
  display: flex;
}
.calculator-numbers-wrapper {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}
.calculator-numbers {
  font-size: 28px;
  width: 99px;
  border-radius: 100px;
}
.calculator-operator-wrapper {
  display: flex;
  flex-direction: column;
}
.calculator-symbols {
  font-size: 28px;
  border-radius: 100px;
  width: 99px;
  background-color: #4056a1;
  height: 25%;
  color: white;
}
.calculator-special-symbols-container {
  display: flex;
  width: 400px;
}

.calculator-clear {
  font-size: 28px;
  width: 301px;
  height: 37.9px;
  background-color: #f13c20;
  height: 100px;
  color: white;
}
.calculator-equals {
  font-size: 28px;
  width: 99px;
  background-color: #4056a1;
  height: 100px;
  color: white;
  border-radius: 100px;
}
