.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 75px 75px 0;
}
.content-description-wrapper {
  padding-bottom: 150px;
}
.content-name-title {
  color: rgb(13 67 115);
  font-size: 24px;
}
.content-name {
  font-size: 48px;
}
.content-title {
  font-size: 44px;
  padding-bottom: 15px;
}
.content-description {
  font-size: 18px;
  max-width: 750px;
}
.content-links-wrapper {
  display: flex;
  margin-top: 30px;
  font-size: 18px;
}

.content-link {
  display: flex;
  width: 150px;
  height: 38px;
  margin-right: 20px;
  background-color: rgb(13 67 115);
  color: white !important;
  justify-content: center;
  border-radius: 3px;
}
.content-link:hover {
  color: white;
  background-color: midnightblue;
}

.content-githubLogo {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 800px) {
  .content-wrapper {
    padding: 25px 25px 0;
  }
}
