.projects-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

.projects-title {
  color: rgb(13 67 115);
  margin-bottom: 15px;
  font-size: 24px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.projects-description-container {
  position: relative;
}

.projects-image {
  height: 300px;
  width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.projects-description {
  font-size: 11px;
  max-width: calc(100% - 20px);
  padding: 20px;
  flex-wrap: wrap;
  color: white;
  position: absolute;
  z-index: 4;
  font-size: 22px;
  top: 0;
  bottom: 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.projects-description-container:hover .projects-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .projects-image {
    height: unset;
    min-height: 150px;
    width: 100%;
    margin-right: 0;
  }

  .projects-description {
    max-width: 100%;
  }
}
