.projects-wrapper {
  padding: 50px 90px 90px 115px;
}

.projects-title {
  color: rgb(13 67 115);
  margin-bottom: 15px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
}
.projects-image {
  height: 200px;
  width: 400px;
}
