.navigation-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
.navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.navigation-profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}
.navigation-link {
  text-align: center;
}
.navigation-profile-links {
  display: flex;
  height: 100%;
  align-items: end;
  margin-bottom: 40px;
}
