.header-wrapper {
  display: flex;
  background-color: #3282b8;
}
.home-button {
  flex: 1 1 auto;
  margin-left: 15px;
  align-self: center;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.title {
  flex: 1 1 auto;
  text-align: center;
  font-size: 40px;
  color: white;
}
.view-movie-title {
  flex: 1 1 auto;
  text-align: center;
  font-size: 40px;
}
.search-icon {
  flex: 1 1 auto;
  text-align: end;
  margin-right: 15px;
  font-size: 24px;
  align-self: center;
}

link {
  flex: 1 1 auto;
  text-decoration: none;
  color: black;
}

.search-wrapper {
  flex: 1 1 auto;
  position: relative;
  align-self: center;
  display: flex;
  margin-right: 10px;

  justify-content: flex-end;
}

.results-wrapper {
  position: absolute;
  background-color: #3282b8;
  top: 80px;
  padding: 10px;
  overflow-y: scroll;
  max-height: 335px;
  z-index: 1;
}

.search-poster {
  max-height: 90px;
  max-width: 70px;
  display: inline-block;
  margin-right: 10px;
}

.results-title {
  display: inline-block;
}

.results {
  display: flex;
  margin-bottom: 10px;
}
.noResults {
  position: absolute;
  top: 70px;
  background-color: #3282b8;
  right: 250px;
}
.movie-list-search-bar {
  height: 50px;
  width: 30%;
  align-self: center;
  margin-right: 30px;
}
