.home-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin: 0px;
  background-color: #e6f5ff;
}
.header {
  background-color: rgb(216, 244, 244);
  font-size: 38px;
  text-align: center;
}

.movieWrapper {
  padding: 10px;
  flex: 1 1 auto;
  height: 663px;
}

.movieTitle {
  padding: 5px;
  inline-size: 350px;
}

.moviePoster {
}

.mapWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6f5ff;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.favoriteMovie-wrapper {
  position: relative;
}
.popularMoviesHeartWrapper {
  position: relative;
}
.heart {
  position: absolute;
  right: 5px;
  top: 25px;
}

.favoriteWrapper {
  display: flex;
  background-color: #e6f5ff;
  flex-wrap: wrap;
}
.favoriteMovie {
  flex: 1 1 auto;
  position: relative;
}

.movieListTitles {
  margin-left: 10px;
}
.no-favorited-movies {
  font-size: 28px;
  margin-left: 10px;
}
