.viewMovie-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #e6f5ff;
  width: 100vw;
  align-items: center;
}

.moviePoster {
  max-width: 342px;
  margin-top: 20px;
  max-height: 513px;
  min-width: 342px;
  min-height: 513px;
}

.viewMovie-childrenWrapper {
  font-size: 20px;
  min-height: 390px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
}

.viewMovie-description {
  margin-bottom: 15px;
}

.viewMovie-date {
  margin-bottom: 15px;
}
.viewMovie-rating {
  margin-bottom: 15px;
}

.viewMovie-backButton {
  margin-left: 20px;
  position: absolute;

  right: 10px;
  bottom: 840px;
  font-size: 32px;
  text-decoration: none;
}
.viewMovie-trailer {
  text-decoration: underline solid black;
  font-weight: bold;
}
