.changeClubs-container {
  background-color: #7395ae;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.changeClubs-content-wrapper {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}
.changeClubs-clubs-container {
  background-color: #7395ae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.club {
  margin: 10px;
  font-size: 22px;
}
