.my-golf-game-dashboard-container {
  background-color: #7395ae;
  height: 100vh;
}

.my-golf-game-dashboard-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}

.golf-card-wrapper {
  flex: 1 1 auto;
  display: flex;
}

.my-golf-game-dashboard-card {
  background-color: azure;
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex: 1 1 auto;
}
.my-golf-game-dashboard-card-stats {
  background-color: azure;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: 480px;
}

a:visited {
  color: black;
}

@media screen and (max-width: 1450px) {
  .my-golf-game-dashboard-card {
    height: 40%;
  }
}

.yourStats-total-wrapper {
  display: flex;
  justify-content: center;
}
