.my-golf-game-dashboard-container {
  height: 100vh;
  background-color: #7395ae;
}

.my-golf-game-header {
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-between;
  background-color: #037cb7;
}

.d-flex {
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.golf-header-link {
  cursor: pointer;
}

.golf-header-link:hover {
  color: white;
}

.header-title {
  display: flex;
  justify-content: center;
}

.header-profile-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-profile {
  font-size: 32px;
}

.my-golf-game-dashboard-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}

.golf-card-wrapper {
  flex: 1 1 auto;
  display: flex;
}

.my-golf-game-dashboard-card {
  background-color: azure;
  display: flex;
  height: 160px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  flex: 1 1 auto;
}
.my-golf-game-dashboard-card-stats {
  background-color: azure;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: 480px;
}

a:visited {
  color: black;
}

@media screen and (max-width: 1450px) {
  .my-golf-game-dashboard-card {
    height: 40%;
  }
}
