.my-golf-game-header {
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-between;
  background-color: #037cb7;
}

.d-flex {
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.golf-header-link {
  cursor: pointer;
}

.golf-header-link:hover {
  color: white;
}

.header-title {
  display: flex;
  justify-content: center;
}

.header-profile-wrapper {
  display: flex;
  justify-content: flex-end;
}

.header-profile {
  font-size: 32px;
}
