.newScore-container {
  background-color: #7395ae;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.newScore-title {
  font-size: 50px;
}
.newScore-select {
  font-size: 20px;
  margin: 40px 0;
}

.newScore-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newScore-fairway-text-wrapper {
  display: flex;
  margin: 40px 0;
  flex-direction: column;
}
.newScore-fairway-title {
  font-size: 20px;
}

.newScore-fairway-container {
  flex: 1 1 auto;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.newScore-fairway-hit {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}
.newScore-fairway-missed {
  flex: 1 1 auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-left: 1px solid black;
}

.newScore-arrows-wrapper {
  display: flex;
}
.newScore-missedFaiway-select {
  font-size: 20px;
  margin: 40px 0;
}
.fairway-green-input {
  flex: 1 1 auto;
}
.newScore-appr-wrapper {
}
.newScore-appr-select {
  font-size: 20px;
  margin: 40px 0;
}
.newScore-form-input {
  margin: 40px 0;
}
