.newScore-container {
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newScore-title {
  font-size: 50px;
}

.newScore-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newScore-fairway-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newScore-fairway-title {
}
.newScore-select {
}

.newScore-fairway-container {
  display: flex;
  align-items: center;
}
.newScore-fairway-hit {
}
.newScore-fairway-missed {
}

.newScore-appr-wrapper {
}

img {
}

.fairway-green-input {
}

.newScore-green-container {
  display: flex;
  align-items: center;
}
.newScore-green-hit {
}
.newScore-green-missed {
}
.input-bunker-hit {
}
.input-putt-distance {
}

.input-number-of-putts {
}

.input-hole-score {
}
