.yourScores-wrapper {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}
.yourScores-hole-map-wrapper {
  height: 100%;
  width: 100%;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
}

.yourScores-hole-info {
  flex: 1 1 auto;
}
