.yourStats-wrapper {
  background-color: azure;
  align-items: center;
  border-radius: 6px;
  display: flex;
}
.yourStats-FIR-wrapper {
  background-color: red;
}
.yourStats-Gir-wrapper {
  background-color: blue;
}
