.yourStats-wrapper {
  height: 100%;
  background-color: #f0ffff;
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.yourStats-title {
  font-size: 30px;
}
.yourStats-stats-container {
  display: flex;
  height: 60%;
  justify-content: space-around;
}
.yourStats-FIR-wrapper {
  background-color: #7395ae;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yourStats-Gir-wrapper {
  background-color: #7395ae;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yourStats-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 5px;
  flex-direction: column;
  margin-bottom: 30px;
}
